@using Infrastructure
@using Repository.Domain
@using H_Blog.Models.Enum
@model Tuple<List<Notification>, List<Article>>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section styles{
    <!-- 本页样式表 -->
    <link href="/css/home.css" rel="stylesheet" />
}
<script src="/APlayer/dist/APlayer.min.js"></script>
<link href="/APlayer/dist/APlayer.min.css" rel="stylesheet" />

<!-- 导航 -->
@Html.Partial("_Title", "网站首页")
<!-- 这个一般才是真正的主体内容 -->
<div class="blog-container">
    <div class="blog-main">
        <!-- 网站公告提示 -->
        <div class="home-tips shadow">
            <i style="float:left;line-height:17px;" class="fa fa-volume-up"></i>
            <div class="home-tips-container">
                @if (Model.Item1.IsNoContent())
                {
                    foreach (var item in Model.Item1)
                    {
                        @Html.Raw($"<span style='color:{item.Color}'>{item.Title}{item.Link}</span>");
                    }
                }
            </div>
        </div>
        <!--左边文章列表-->
        <div class="blog-main-left">
            @if (Model.Item2.IsNoContent())
            {
                foreach (var item in Model.Item2)
                {
                    <div class="article shadow">
                        <div class="article-left">
                            <img src="@(item.Img)" alt="@(item.Title)" />
                        </div>
                        <div class="article-right">
                            <div class="article-title">
                                <a href="@(item.Href)">@(item.Title) @(Html.Raw(item.ArticleType.ConvertTitleEnum().TitleEnumStyle()))</a>
                            </div>
                            <div class="article-abstract">
                                @Html.Raw(item.Abstract)
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="article-footer">
                            <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;@(item.CreateTime.ToString("yyyy-MM-dd"))</span>
                            <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;@(item.Author)</span>
                            <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="#">Design Pattern</a></span>
                            <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;@(item.ViewNumber)</span>
                            <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;@(item.CommentNumber)</span>
                        </div>
                    </div>
                }
            }
        </div>
        <!--右边小栏目-->
        @Html.Partial("_Home_Right")

    </div>
</div>

@section scripts
{
    <script src="/APlayer/dist/custom.js"></script>
}